:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-top: 0;
}

.name {
  font-size: 1.45em;
  font-style: italic;

  margin-top: 0;
}

h2 {
  margin-top: 15px;
}

figure {
  margin: 0;
}

figure:nth-child(2) {
  margin-top: 20px;
}

figcaption > span {
  font-weight: bold;
}

.logos {
  margin: 20px 0;
}

.logos img {
  width: 350px;
  height: 250px;

  border: 1px solid;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

button {
  border-radius: 30px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.eas-disclaimer,
.wea-disclaimer {
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #928c8c;
  }
}

@media only screen and (min-width: 950px) {
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    margin: 20px;
  }

  figure:nth-child(2) {
    margin-top: 0;
  }

  #root {
    margin: 50px auto;
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.5);
  }
}
